{% extends 'index.html' %}
{% block content %}
<br>
<h1>Nuovo Tutorial</h1>
<form action="" method="post">
    {{tutorial_form.hidden_tag()}}
    <br>
    {{tutorial_form.nome.label}} {{tutorial_form.nome()}}
    <br>
    {{tutorial_form.soggetto.label}} {{tutorial_form.soggetto()}}
    <br>
    {{tutorial_form.tutorial_act.label}} {{tutorial_form.tutorial_act()}}
    <br>
    {{tutorial_form.difficolta.label}} {{tutorial_form.difficolta()}}
    <br>
    {{tutorial_form.sito_tutorial.label}} {{tutorial_form.sito_tutorial()}}
    <br>
    {{tutorial_form.feedback.label}} {{tutorial_form.feedback()}}
    <br>
    {{tutorial_form.pulsante()}}
</form>

{% endblock content %}